<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="" class="site_title"><i class="fa fa-spinner"></i> <span>GuruHub<br>

    </span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/guruhub.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2> {{ current_user.username }} </h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/home/index">Dashboard</a></li>
{#            <li><a href="/home/index2">Dashboard2</a></li>#}
{#            <li><a href="/home/index3">Dashboard3</a></li>#}
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> Upload Your Files <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href= "{{url_for('SendStatements_blueprint.save') }}"> Demand Letters</a></li>
            <li><a href= "{{url_for('SendStatements_blueprint.Dormancy_Notification') }}">Dormancy Notification</a></li>
            <li><a href= "{{url_for('SendStatements_blueprint.ufaclaimletter') }}">UFA Claim Letter</a></li>
            <li><a href= "{{url_for('SendStatements_blueprint.bankStatement') }}">Bank statements</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-desktop"></i> Resend Failed Statements<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href= "{{url_for('resendpdfs_blueprint.failed_pdfs_list') }}"> Failed Statements</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
